@model Spendit.Models.Transaction

@{
    ViewData["Title"] = "Create";
    ViewData["PageActionText"] = "+ New Transaction";
    ViewData["PagheActionUrl"] = "/Transaction/Create";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Create Transaction</h1>
                <hr />
                <div class="row">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">
                            <ejs-dropdownlist id="ddlCategory" ejs-for="CategoryId"
                                              dataSource="@ViewBag.Categories" placeholder="Category"
                                              floatLabelType="Always" allowFiltering="true" ignoreAccent="true"
                                              filterType="Contains" popupHeight="220px"
                                              itemTemplate="#itemTemplate">
                                <e-dropdownlist-fields value="CategoryId" text="TitleWithIcon"></e-dropdownlist-fields>
                            </ejs-dropdownlist>
                            <span asp-validation-for="CategoryId" class="text-danger fs-6"></span>
                        </div>
                        <div class="mb-3">
                            <ejs-numerictextbox id="amount" ejs-for="Amount"
                                                placeholder="Amount" floatLabelType="Always"
                                                min=0 format="c0"></ejs-numerictextbox>
                            <span asp-validation-for="Amount" class="text-danger fs-6"></span>
                        </div>
                        <div class="mb-3">
                            <ejs-textbox id="note" placeholder="Note" ejs-for="Note" showClearButton
                                         floatLabelType="Always" multiline="true"></ejs-textbox>
                            <span asp-validation-for="Note" class="text-danger fs-6"></span>
                        </div>
                        <div class="mb-3">
                            <ejs-datepicker id="date" ejs-for="Date"
                                            placeholder="Date" floatLabelType="Always"
                                            format="MMM-dd-yy"></ejs-datepicker>
                        </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" style="margin-right:5px;" /> 
                        <button type="button" class="btn btn-outline-success" onclick="location.href='@Url.Action("Index", "Transaction")'">Back to List</button>
                    </div>
                    </form>
                </div>
        </div>
    </div>
</div>


<script id="itemTemplate" type="text/x-template">
        <span class="title-with-icon">${TitleWithIcon}</span>
        ${if (Type == "Income")}
            <span class="badge bg-info">${Type}</span>
        ${else if(Type == "Expense")}
            <span class="badge bg-danger">${Type}</span>
        ${/if}
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
