@model IEnumerable<Spendit.Models.Group>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-bottom:30px;">
    <a class="btn btn-danger" href="Group/Create">
        <i class="bi bi-plus-lg"></i> New Group
    </a>
</div>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-2 mb-1">
            <div class="card h-100" style="border-width: 1px; border-style: solid; border-color: dimgray">
                <img src="~/groupPlaceholder.png" class="card-img-top img-fluid" alt="Group Logo" style="height: 150px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="@Url.Action("Dashboard", "Group", new { id = item.GroupId })" class="btn btn-outline-primary">
                            <b>@Html.DisplayFor(modelItem => item.Name)</b>
                        </a>
                    </h5>
                </div>
                <div class="card-footer">
                    <a asp-action="Edit" asp-route-id="@item.GroupId" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.GroupId" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
